<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Метида-торг | Политика обработки персональных данных</title>
  <link rel="stylesheet" href="/style/css/pers-danniye.css">
</head>
<body>
  <main>
    <aside>
      Утверждено<br>
      Приказ директора ООО "Метида-торг"<br>
      от 12.10.2024 № 134
    </aside>
    <h1>Политика обработки персональных данных Интернет-сайта metida-torg.by</h1>
    <p>
      Настоящая Политика обработки персональных данных общества с ограниченной ответственностью "Метида-торг"
       (далее – политика обработки ПД) действует в отношении персональных данных, которые собираются 
       при заполнении и отправки формы связи на сайте.
    </p>
    <p>
      Цели политики обработки ПД: возможность для ООО "Метида-торг" связаться с Пользователем
    </p>
  </main>
</body>
</html>