/** FONTS **/
@font-face {
  font-family: Raleway;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../fonts/Raleway-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../fonts/PTSans-Regular.ttf") format("truetype");
}
/* TODO: взять https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap здесь из src и проверить по юникодам, что оно нормально работает - я так обойду необходимость самому выбирать нужные мне символы */

html {
  /* text, 18.2px */
  font-size: calc(0.56760665972944844rem + 0.7804370447450573vw);
  /* menu */
  font-family: "Raleway", Arial, sans-serif;
  font-optical-sizing: auto;
}

body {
  margin: 0;

  min-height: 150vh; /* TODO: rem */
  background-color: #f7f7f7;
}
body a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1416px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  box-sizing: border-box;
}

main {
  height: 100vh;
  position: relative;
}

.slider {
  position: relative;
  overflow-x: hidden;
}
.slider-track {
  display: flex;
  height: 100vh;
  width: max-content;
  will-change: transform;
  transition: transform 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
.slider video {
  width: 100vw;
  flex-shrink: 0;
  object-fit: cover;
  cursor: pointer;
}
.dots {
  width: 4rem;
  height: 1rem;
  position: absolute;
  bottom: 10%;
  left: calc(50% - 3rem / 2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dot {
  width: .8rem;
  height: .8rem;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}
.dot--active {
  outline: 3px solid white;
}
.dot--hovered {
  background-color: rgba(255, 255, 255);
}
.time-line {
  width: 100%;
  height: .5rem;
  background-color: #f7f7f7;
  opacity: .6;
  position: absolute;
  bottom: 0;
}
.time-line--disappear {
  width: 0;
}
.time-line--test {
  background-color: yellow;
}
/* TODO: mb rem */
.time-line--appear {
  width: 100%;
}