/** FONTS **/
@font-face {
  font-family: Raleway;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../fonts/Raleway-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../fonts/PTSans-Regular.ttf") format("truetype");
}
/* TODO: взять https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap здесь из src и проверить по юникодам, что оно нормально работает - я так обойду необходимость самому выбирать нужные мне символы */

html {
  /* text, 18.2px */
  font-size: calc(0.56760665972944844rem + 0.7804370447450573vw);
  /* menu */
  font-family: "Raleway", Arial, sans-serif;
  font-optical-sizing: auto;
}

body {
  margin: 0;

  min-height: 150vh; /* TODO: rem */
  /* TODO: rem) */
  /* background-color: #f7f7f7; */
  background-color: white; /* white is better */
}
body a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1416px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  box-sizing: border-box;
}

main {
  height: 100vh;
  position: relative;
}

.slider {
  position: relative;
  overflow: hidden;
}
.slider-track {
  display: flex;
  height: 100vh;
  width: max-content;
  /* will-change: transform; */
  transition: transform 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
.slide {
  position: relative;
  color: yellow;
}
.slide-cont {
  position: absolute;
  z-index: 5;
}
.slide-cont-right {
  top: 0;
  right: 0;
}
.slider video {
  width: 100vw;
  flex-shrink: 0;
  object-fit: cover;
  cursor: pointer;
}
.dots {
  width: 4rem;
  height: 1rem;
  position: absolute;
  bottom: 10%;
  left: calc(50% - 3rem / 2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dot {
  width: .8rem;
  height: .8rem;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}
.dot--active {
  outline: 3px solid white;
}
.dot--hovered {
  background-color: rgba(255, 255, 255);
}
.time-line {
  width: 100%;
  height: .5rem;
  background-color: #f7f7f7;
  opacity: .6;
  position: absolute;
  bottom: 0;
}
.time-line--disappear {
  width: 0;
}

.triangle {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  z-index: 1;
}
.triangle-left-to-right {
  clip-path: polygon(0 0, 30% 0, 85% 100%, 0 100%);
}
.triangle-right-to-left {
  right: 0;
  clip-path: polygon(70% 0, 100% 0, 100% 100%, 15% 100%);
}
.triangle p {
  color: white;
}

section h1 {
  font-family: "PT Sans", "Times New Roman", sans-serif;
  text-align: center;
  font-size: 2.3rem;
  margin-top: 3.2rem;
  margin-bottom: 2.7rem;
}

.popular-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 95px;
  margin-bottom: 5rem;
}
.popular-item {
  /* display: inline-block; */ /* TODO: should be another display cuz of dgrid */
  /* display: flex;
  flex-direction: column; */
  /* TODO: min rem) */
  min-width: 5rem;
  min-height: 4rem;
  border: 1px solid gray;
  padding: 0 1rem;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.popular-item:hover {
  transform: scale(1.1);
}
.popular-item:hover::after {
  background-color: red;
}
.popular-item-photo {
  
}
.popular-item h2 {
  font-weight: 500;
  font-size: 1.3rem;
}
.popular h3 {
  font-family: "PT Sans";
  text-align: center;
}
.hand-cont {
  position: relative;
  text-align: center;
}
.hand-cont span {
  /* position: absolute; */
  font-size: 2rem;
  /* transition: margin-top 700ms linear; */
  animation: float 1.9s ease-in-out infinite;
  display: inline-block;
}
@keyframes float {
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(8px);
  }
}

.catalogue {
  margin-bottom: 5rem;
  position: relative;
}
.catalogue h1 {
  margin-bottom: 0;
}
.catalogue-cat {
  text-align: center;
  margin-bottom: 2.7rem;
}
.catalogue-cat label {
  display: inline-block;
  padding: 0.6rem 1rem;
  border: 1px solid black;
  border-radius: 9px;
  position: relative;
}
.catalogue-cat select {
  font-size: inherit;
  font-family: Raleway, Arial, sans-serif;
  border: none;
  position: relative;
  font-weight: bold;
  cursor: pointer;
}
/* .catalogue-cat label::after {
  content: "q";
  display: block;
  position: absolute;
  width: 4px;
  height: 4px;
} */
.catalogue-cont {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 95px;
  /* row-gap: 41px; */
  row-gap: 81px;
  position: relative;
}
.catalogue-item {
  border: none;
  position: relative;
}
/* .catalogue-item:nth-child(1)::after {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  height: 100%;
  background-color: gray;
  top: 0;
  right: 0;
  transition: none;
} */
.catalogue-item-photo {
  max-width: 150px;
  min-height: 150px;
  border: 1px solid gray;
  margin-left: auto;
  margin-right: auto;
}
.decorative {
  /* min-height: 312px; */ /* TODO: now it's just for fast */
  min-height: 156px; /* TODO: now it's just for fast */
  position: absolute;
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* grid-template-columns: 354px 354px 354px; */
  /* column-gap: 47.5px; */
  /* background-color: rgba(0, 0, 0, .3); */
  /* top: 244px; */
  top: calc(50% - 156px / 2 - 3%);
}
.dec-item {
  /* width: 272.5px; */
  /* background-color: rgba(219, 239, 42, 0.3); */
  border-right: 1px solid gray;
  position: relative;
}
.dec-item:nth-child(1) {
  margin-right: 24px;
}
.dec-item:nth-child(3) {
  margin-right: -24px;
}
.dec-item:last-child {
  border-right: none;
}
.dec-item::before {
  content: "";
  display: block;
  width: 50%;
  height: .5px;
  background-color: gray;
  position: absolute;
  top: 50%;
  left: 75%;
}
.dec-item:last-child::before {
  content: "";
  display: none;
}

.parallax {
  text-align: center;
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
  background-image: url("../img/rsz_pesticides.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
/* TODO: swap to gradient) */
.parallax h1 {
  display: inline-block;
  background-color: rgba(0, 0, 0, .5);
  padding: .3rem 1rem;
}
.parallax span {
  /* TODO: rem if looks ok + rem html span */
  /* position: relative;
  top: 2px; */
}